{
    "db": {
        "host": "MYSQL_DB_HOSTNAME_OR_IP_HERE",
        "name": "MYSQL_DB_NAME_HERE",
        "user": "MYSQL_DB_USER_HERE",
        "password": "MYSQL_DB_PASSWORD_HERE"
    },
    "table": "MYSQL_DB_TABLE_NAME_HERE",
    "token": "NATURE_REMO_API_TOKEN_HERE",
    "devices": {
        "NATURE_REMO_DEVICE_ID_HERE": "NATURE_REMO_ID_OF_OUR_TABLE_HERE"
    }
}
